[List of German states by life expectancy](https://en.wikipedia.org/wiki/List_of_German_states_by_life_expectancy) / 
[Продолжительность жизни в землях Германии](https://ru.wikipedia.org/wiki/Продолжительность_жизни_в_землях_Германии)<br>
Data source: [Destatis](https://www.destatis.de/EN/Themes/Society-Environment/Population/Deaths-Life-Expectancy/Tables/liste-life-expectancy.html)

In [2]:
import pandas as pd
import math
import re

import sys
sys.path.append("..")
import mal_moduls_private.mal_total as mal

In [3]:
df_male_1 = pd.read_csv('data/2021-23_male.csv', sep='\t', index_col='Länder')
df_male_1.index.name = ''
df_male_1.loc[['Berlin', 'Germany']]

             0      1     20     40     60     65    80

Berlin   78.08  77.32  58.50  39.07  21.24  17.48  8.21
Germany  78.17  77.42  58.63  39.24  21.34  17.50  7.88

In [4]:
df_male_2 = pd.read_csv('data/2022-24_male.csv', sep='\t', index_col='Länder')
df_male_2.index.name = ''
df_male_2.loc[['Berlin', 'Germany']]

             0      1     20     40     60     65    80

Berlin   78.37  77.62  58.81  39.35  21.39  17.62  8.31
Germany  78.47  77.73  58.94  39.55  21.58  17.71  8.00

In [5]:
df_female_1 = pd.read_csv('data/2021-23_female.csv', sep='\t', index_col='Länder')
df_female_1.index.name = ''
df_female_1.loc[['Berlin', 'Germany']]

             0      1     20     40     60     65    80

Berlin   83.17  82.38  63.53  43.83  25.15  20.94  9.94
Germany  82.99  82.23  63.40  43.73  25.03  20.76  9.46

In [6]:
df_female_2 = pd.read_csv('data/2022-24_female.csv', sep='\t', index_col='Länder')
df_female_2.index.name = ''
df_female_2.loc[['Berlin', 'Germany']]

             0      1     20     40     60     65    80

Berlin   83.29  82.52  63.68  43.98  25.27  21.06  9.97
Germany  83.19  82.44  63.60  43.92  25.19  20.91  9.57

<br>
<br>

In [8]:
# create summary DataFrame with all required data
df = pd.concat([df_male_1.loc[:, '0'],
                df_female_1.loc[:, '0'],
                (df_female_1.loc[:, '0'] - df_male_1.loc[:, '0']).round(2),       # ! without rounding it is possible error during sorting
                ((df_male_1.loc[:, '0'] + df_female_1.loc[:, '0']) / 2).round(2),
                ((df_male_2.loc[:, '0'] + df_female_2.loc[:, '0'] - df_male_1.loc[:, '0'] - df_female_1.loc[:, '0']) / 2).round(2),
                df_male_2.loc[:, '0'],
                df_female_2.loc[:, '0'],
                (df_female_2.loc[:, '0'] - df_male_2.loc[:, '0']).round(2),       # ! without rounding it is possible error during sorting
                ((df_male_2.loc[:, '0'] + df_female_2.loc[:, '0']) / 2).round(2)
               ],
                  axis='columns',
                  keys=['male_1', 'female_1', 'fΔm_1', 'ar_mean_1', 'Δ_periods', 'male_2', 'female_2', 'fΔm_2', 'ar_mean_2'])


# sort DataFrame
df.sort_values(by=['ar_mean_2', 'male_2'], ascending=False, inplace=True)

# place record about country as a whole to top of DataFrame
indexes = df.index.to_list()
ls_change_order = ['Germany']
indexes = list(el for el in indexes if el not in ls_change_order)
indexes = ls_change_order + indexes
df = df.reindex(indexes)

print(len(df))

df

17

,male_1,female_1,fΔm_1,ar_mean_1,Δ_periods,male_2,female_2,fΔm_2,ar_mean_2
,,,,,,,,,
Germany,78.17,82.99,4.82,80.58,0.25,78.47,83.19,4.72,80.83
Baden-Württemberg,79.64,83.93,4.29,81.78,0.24,79.92,84.13,4.21,82.02
Bayern,78.94,83.51,4.57,81.22,0.31,79.34,83.74,4.40,81.54
Hessen,78.63,83.11,4.48,80.87,0.21,78.88,83.28,4.40,81.08
Sachsen,77.41,83.61,6.20,80.51,0.52,78.04,84.02,5.98,81.03
Berlin,78.08,83.17,5.09,80.62,0.21,78.37,83.29,4.92,80.83
Rheinland-Pfalz,78.34,82.92,4.58,80.63,0.18,78.60,83.03,4.43,80.82
Hamburg,78.14,82.98,4.84,80.56,0.19,78.41,83.10,4.69,80.76
Schleswig-Holstein,78.25,82.72,4.47,80.48,0.07,78.34,82.76,4.42,80.55
Brandenburg,77.17,83.09,5.92,80.13,0.41,77.66,83.42,5.76,80.54
Nordrhein-Westfalen,77.91,82.43,4.52,80.17,0.18,78.13,82.58,4.45,80.35
Niedersachsen,77.77,82.59,4.82,80.18,0.11,77.96,82.63,4.67,80.29
Thüringen,76.76,82.59,5.83,79.68,0.58,77.38,83.14,5.76,80.26
Saarland,77.09,81.92,4.83,79.50,0.17,77.38,81.97,4.59,79.68
Mecklenburg-Vorpommern,76.24,82.58,6.34,79.41,0.25,76.53,82.78,6.25,79.66
Bremen,76.74,82.08,5.34,79.41,-0.01,76.74,82.06,5.32,79.40
Sachsen-Anhalt,75.49,82.07,6.58,78.78,0.32,75.93,82.27,6.34,79.10

In [9]:
mal.min_and_max_values(df, nmb=3, max_lng=10, row_center='Germany')

Number of records: 17

<br />
<br />

In [11]:
# print(*df.index.to_list(), sep='", "')

In [12]:
dd_replacement = {
    'Germany'   : {'ge': ('Deutschland', ''), 'en': ('Germany on average', ''), 'ru': ('Германия в целом', '')},
    'Baden-Württemberg'   : {'ge': ('Baden-Württemberg', 'Baden-Württemberg'), 'en': ('Baden-Württemberg', 'Baden-Württemberg'), 'ru': ('Ба́ден-Вю́ртемберг', 'Баден-Вюртемберг')},
    'Bayern'   : {'ge': ('Bayern', 'Bayern'), 'en': ('Bavaria', 'Bavaria'), 'ru': ('Бава́рия', 'Бавария')},
    'Berlin'   : {'ge': ('Berlin', 'Berlin'), 'en': ('Berlin', 'Berlin'), 'ru': ('Берли́н (город-земля)', 'Берлин')},
    'Brandenburg'   : {'ge': ('Brandenburg', 'Brandenburg'), 'en': ('Brandenburg', 'Brandenburg'), 'ru': ('Бра́нденбург', 'Бранденбург')},
    'Bremen'   : {'ge': ('Bremen', 'Freie Hansestadt Bremen'), 'en': ('Bremen', 'Bremen'), 'ru': ('Бре́мен (город-земля)', 'Бремен (земля)')},
    'Hamburg'   : {'ge': ('Hamburg', 'Hamburg'), 'en': ('Hamburg', 'Hamburg'), 'ru': ('Га́мбург (город-земля)', 'Гамбург')},
    'Hessen'   : {'ge': ('Hessen', 'Hessen'), 'en': ('Hesse', 'Hesse'), 'ru': ('Ге́ссен', 'Гессен')},
    'Mecklenburg-Vorpommern'   : {'ge': ('Mecklenburg-Vorpommern', 'Mecklenburg-Vorpommern'), 'en': ('Mecklenburg-Vorpommern', 'Mecklenburg-Vorpommern'), 'ru': ('Ме́кленбург-Передняя Помера́ния', 'Мекленбург-Передняя Померания')},
    'Niedersachsen'   : {'ge': ('Niedersachsen', 'Niedersachsen'), 'en': ('Lower Saxony', 'Lower Saxony'), 'ru': ('Нижняя Саксо́ния', 'Нижняя Саксония')},
    'Nordrhein-Westfalen'   : {'ge': ('Nordrhein-Westfalen', 'Nordrhein-Westfalen'), 'en': ('North Rhine-Westphalia', 'North Rhine-Westphalia'), 'ru': ('Северный Рейн-Вестфа́лия', 'Северный Рейн-Вестфалия')},
    'Rheinland-Pfalz'   : {'ge': ('Rheinland-Pfalz', 'Rheinland-Pfalz'), 'en': ('Rhineland-Palatinate', 'Rhineland-Palatinate'), 'ru': ('Ре́йнланд-Пфальц', 'Рейнланд-Пфальц')},
    'Saarland'   : {'ge': ('Saarland', 'Saarland'), 'en': ('Saarland', 'Saarland'), 'ru': ('Саа́р', 'Саар')},
    'Sachsen'   : {'ge': ('Sachsen', 'Sachsen'), 'en': ('Saxony', 'Saxony'), 'ru': ('Саксо́ния', 'Саксония (земля)')},
    'Sachsen-Anhalt'   : {'ge': ('Sachsen-Anhalt', 'Sachsen-Anhalt'), 'en': ('Saxony-Anhalt', 'Saxony-Anhalt'), 'ru': ('Саксо́ния-А́нхальт', 'Саксония-Анхальт')},
    'Schleswig-Holstein'   : {'ge': ('Schleswig-Holstein', 'Schleswig-Holstein'), 'en': ('Schleswig-Holstein', 'Schleswig-Holstein'), 'ru': ('Шле́звиг-Гольште́йн', 'Шлезвиг-Гольштейн')},
    'Thüringen'   : {'ge': ('Thüringen', 'Thüringen'), 'en': ('Thuringia', 'Thuringia'), 'ru': ('Тюрингия', 'Тюрингия')},
}

In [13]:
# create code for placing info in Wikipedia
def create_table(df, file_header, lang='ru'):

    def if_value(x, prec=2):
        return '—' if math.isnan(x) else \
               f"{x:0.{prec}f}"  if x>=0 else \
               f"−{-x:0.{prec}f}"                #"{x:0.{prec}f}".format(x, prec)
    
    def chval(x, prec=2, *, add_par=''):  # change_value
        return f' —' if (math.isnan(x) & (add_par=='')) else \
               f'style="{add_par}"| —' if math.isnan(x) else \
               f'style="color:darkgreen;{add_par}"| {x:0.{prec}f}' if x>0 else \
               f'style="color:crimson;{add_par}"| −{-x:0.{prec}f}' if x<0 else \
               f'style="color:darkgray;{add_par}"| {x:0.{prec}f}'
    
    def chval_bold(x, prec=2, *, add_par=''):  # change_value
        return ' \'\'\'—\'\'\'' if (math.isnan(x) & (add_par=='')) else \
               f'style="{add_par}"| \'\'\'—\'\'\' ' if math.isnan(x) else \
               f'style="color:darkgreen;{add_par}"| \'\'\'{x:0.{prec}f}\'\'\'' if x>0 else \
               f'style="color:crimson;{add_par}"| \'\'\'−{-x:0.{prec}f}\'\'\'' if x<0 else \
               f'style="color:darkgray;{add_par}"| \'\'\'{x:0.{prec}f}\'\'\''
    
    with open('design/' + file_header, mode='r', encoding="utf-8") as fh:
        table_header = fh.read()

    st = ''
    for i in range(len(df)):
        ser = df.iloc[i]
        if ser.name in ["Germany"]:
            st += '\n' + '|-class=static-row-header\n' + \
                 f'| \'\'\'{dd_replacement[ser.name][lang][0]}\'\'\' ' + \
                 f'||style="background:#eaf3ff;"| \'\'\'{if_value(ser["male_1"])}\'\'\' ' + \
                 f'||style="background:#fee7f6;"| \'\'\'{if_value(ser["female_1"])}\'\'\' ' + \
                 f'||style="background:#fff8dc;"| \'\'\'{if_value(ser["fΔm_1"])}\'\'\' ' + \
                 f'|| \'\'\'{if_value(ser["ar_mean_1"], prec=2)}\'\'\' ' + \
                 f'||{chval_bold(ser["Δ_periods"], add_par="border-left-width:2px;")} ' + \
                 f'||style="background:#eaf3ff;border-left-width:2px;"| \'\'\'{if_value(ser["male_2"])}\'\'\' ' + \
                 f'||style="background:#fee7f6;"| \'\'\'{if_value(ser["female_2"])}\'\'\' ' + \
                 f'||style="background:#fff8dc;"| \'\'\'{if_value(ser["fΔm_2"])}\'\'\' ' + \
                 f'|| \'\'\'{if_value(ser["ar_mean_2"])}\'\'\''
        else:
            name_link = dd_replacement[ser.name][lang][1]
            name_visible = dd_replacement[ser.name][lang][0]
            name_inserted = name_link if name_link == name_visible else f"{name_link}|{name_visible}"
            st += '\n' + '|-\n' + \
                  f'| [[{name_inserted}]] ' + \
                  f'||style="background:#eaf3ff;"| {if_value(ser["male_1"])} ' + \
                  f'||style="background:#fee7f6;"| {if_value(ser["female_1"])} ' + \
                  f'||style="background:#fff8dc;"| {if_value(ser["fΔm_1"])} ' + \
                  f'|| {if_value(ser["ar_mean_1"])} ' + \
                  f'||{chval(ser["Δ_periods"], add_par="border-left-width:2px;")} ' + \
                  f'||style="background:#eaf3ff;border-left-width:2px;"| {if_value(ser["male_2"])} ' + \
                  f'||style="background:#fee7f6;"| {if_value(ser["female_2"])} ' + \
                  f'||style="background:#fff8dc;"| {if_value(ser["fΔm_2"])} ' + \
                  f'|| {if_value(ser["ar_mean_2"])}'

    if lang == 'ru':
        st = re.sub('(?<=\\d)\\.(?=\\d)', ',', st)  # replace . to comma, if this . is between two digits

    st = table_header + st + '\n|}'
    
    # gray color for missing values
    st = st.replace(';"|—', ';color:silver;"|—')

    return st


table_code = create_table(df, file_header='German_header_en.txt', lang='en')

# write the code to file
with open('output/Table code for German states -2024 -en.txt', 'w', encoding="utf-8") as fh:
    fh.write(table_code)

In [14]:
table_code = create_table(df, file_header='German_header_ru.txt', lang='ru')

# write the code to file
with open('output/Table code for German states -2024 -ru.txt', 'w', encoding="utf-8") as fh:
    fh.write(table_code)